#titulo {
    color: violet;
    border-style: solid;
    border-color: thistle;
    border-width: 3px;
    border-radius: 10px;
    text-align: center;
}

.fuente {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    background-color: black;
    text-align:  center;
}
